@use './abstracts/abstracts' as *;
@use './componentStyles/sidebar';
@use './componentStyles/locationsmenu';
@use './componentStyles/buttons';
@use './componentStyles/weatherLists';
@use './componentStyles/loadingElements';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Raleway:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

//This is just for the moment
.weather-section {
  background-color: $Dark-weather-bg;
  img {
    width: 10px;
  }

  &.open-menu {
    display: none;
  }
}

