@use './abstracts/abstracts' as *;
@use './componentStyles/sidebar';
@use './componentStyles/locationsmenu';
@use './componentStyles/buttons';
@use './componentStyles/weatherLists';
@use './componentStyles/loadingElements';
@use './componentStyles/todayDetails';
@use './componentStyles/footer';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Raleway:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.main-container {
  background-color: $Dark-weather-bg;
}

//Light mode 
.App.light-mode {
  .sidebar {
    background-color: $Light-sidebar-bg;

    .search-menu {
      background-color: $Light-sidebar-bg;


      .search-btn {
        background-color: rgb(92, 70, 121);
      }
      
      .close-icon {
        color: $Light-text;
  
      }

      .input {
        border-color: $Light-text;
  
      }

      .location-option {
        border-color: $Light-text;
        }
      }
    }

    .__information {
      .current-temperature {
        p {
          color: $Light-text;
        }
      }

      h2 {
        color: $Light-second-text;
        font-weight: 700;
      }

      .-current-details {
        color: $Light-second-text;
      }
    }

    
  .weather-section {
    background-color: $Light-weather-bg;

    .day-weather {
      background-color: $Light-sidebar-bg;

      
      .dates {
        color: $Light-text;
        font-weight: 500;
        letter-spacing: .5px;
  
      }

      .day-temperatures {
        :last-child {
          color: $Light-text;
          font-weight: 600;
    
        }
        :first-child {
          color: $Light-second-text;
    
        }
      }

    }

    .hourly-btns-container {
      .hourly-btn {
        background-color: $Light-sidebar-bg;
        color: $Light-text;

        &:hover {
          background-color: rgba(185, 171, 171, 0.719);
          transition: .5s;
        }
      }
    }

    .hourly-array._selected {
      .single-hour-weather-container {
        background-color: $Light-sidebar-bg;
  
      }
    }


    .current-wind, .current-humidity, .current-visibility, .current-apparent-temperature {
      background-color: $Light-sidebar-bg;

    }
  }

  .buttons-section{
    .theme-btn-container {
      background-color: $Changer-btns;
      color: $Light-text;
      
      &:hover {
        background-color: rgb(185, 171, 171);
        transition: .5s;
      }
    } 
  }

  footer {
    color: $Light-text;
  }
}


