@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Raleway:wght@300;400;500;600&display=swap");
@-webkit-keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes config-open-animation {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes config-open-animation {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes config-close-animation {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(50%);
    opacity: 0;
  }
}
@keyframes config-close-animation {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(50%);
    opacity: 0;
  }
}
.sidebar {
  min-height: 100vh;
  background-color: hsl(234deg, 32%, 17%);
  padding-bottom: 1rem;
}
.sidebar .__locations-btns {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar .__locations-btns .search-btn {
  border: none;
  background: none;
  color: hsl(240deg, 9%, 91%);
  background-color: hsl(230deg, 5%, 45%);
  padding: 1rem;
  font-size: 1.025rem;
  border-radius: 1px;
  box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.185);
}
.sidebar .__locations-btns .get-position-btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(230deg, 5%, 45%);
  box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.185);
}
.sidebar .__locations-btns .get-position-btn svg {
  color: hsl(240deg, 9%, 91%);
  font-size: 2rem;
}
.sidebar .__images {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 1rem;
}
.sidebar .__images .-background {
  z-index: 3;
}
.sidebar .__images .current-weather {
  margin-top: -14rem;
  height: 135px;
}
.sidebar .__information {
  margin-top: -2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.sidebar .__information .current-temperature {
  display: flex;
  justify-content: center;
}
.sidebar .__information .current-temperature :first-child {
  color: hsl(240deg, 9%, 91%);
  font-size: 10em;
  font-weight: 600;
  margin-top: -3rem;
}
.sidebar .__information .current-temperature :last-child {
  color: hsl(243deg, 10%, 66%);
  font-size: 4em;
  font-weight: 500;
  margin-top: 3rem;
}
.sidebar .__information h2 {
  color: hsl(243deg, 10%, 66%);
  font-size: 2.25em;
  text-align: center;
}
.sidebar .__information .-current-details {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  color: hsl(243deg, 10%, 66%);
}
.sidebar .__information .-current-details .-dates {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.35rem;
  gap: 1rem;
}
.sidebar .__information .-current-details .-dates svg {
  font-size: 0.5em;
}
.sidebar .__information .-current-details .-location {
  font-size: 1.35rem;
  display: flex;
  align-items: center;
}
.sidebar .__information .-current-details .-location svg {
  font-size: 2em;
}

@media screen and (max-height: 825px) {
  .sidebar .__images .-background {
    width: 130%;
  }
  .sidebar .__images .current-weather {
    height: 120px;
    margin-top: -10rem;
  }
  .sidebar .__information {
    margin-top: -0.5rem;
  }
  .sidebar .__information .current-temperature {
    align-items: center;
  }
  .sidebar .__information .current-temperature :first-child {
    font-size: 5em;
  }
  .sidebar .__information .current-temperature :last-child {
    margin-top: -1rem;
  }
}
@media screen and (min-width: 650px) and (max-width: 1000px) {
  .sidebar {
    display: flex;
    justify-content: center;
    padding-bottom: 2.5rem;
  }
  .sidebar .__locations-btns {
    min-width: 100vw;
    padding: 2.5rem;
    padding-bottom: 0;
  }
  .sidebar .__locations-btns .search-btn {
    font-size: 1.4rem;
  }
  .sidebar .__locations-btns .get-position-btn {
    width: 60px;
    height: 60px;
  }
  .sidebar .__locations-btns .get-position-btn svg {
    font-size: 2.5rem;
  }
  .sidebar .__images .-background {
    max-width: 680px;
  }
  .sidebar .__images .current-weather {
    height: 150px;
  }
  .sidebar .__information h2 {
    font-size: 2.5rem;
  }
  .sidebar .__information .-current-details .-dates, .sidebar .__information .-current-details .-location {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .sidebar .__images .-background {
    width: 100%;
    max-width: none;
  }
  .sidebar .__images .current-weather {
    height: 160px;
    margin-top: -17rem;
  }
  .sidebar .__information {
    font-size: 1.25rem;
    gap: 2.5rem;
  }
  .sidebar .__information h2 {
    font-size: 4rem;
  }
  .sidebar .__information .-current-details {
    font-size: 1.45rem;
    gap: 3rem;
  }
}
@media screen and (min-width: 1000px) and (max-height: 700px) {
  .sidebar .__images .-background {
    width: 110%;
  }
  .sidebar .__images .current-weather {
    height: 105px;
  }
  .sidebar .__information {
    gap: 1rem;
  }
}
@media (min-width: 1000px) {
  .sidebar {
    width: 375px;
    position: fixed;
    overflow: auto;
  }
}
@media screen and (min-height: 900px) {
  .sidebar .__information {
    gap: 3rem;
  }
  .sidebar .__information .-current-details {
    gap: 4rem;
  }
}
.search-menu {
  top: 0;
  bottom: 0;
  position: fixed;
  background-color: hsl(234deg, 32%, 17%);
  height: 100vh;
  width: 100%;
  overflow: auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.search-menu .close-icon {
  width: 100%;
  text-align: end;
  color: hsl(240deg, 9%, 91%);
}
.search-menu .close-icon svg {
  font-size: 1.7rem;
}
.search-menu .search-form {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.search-menu .search-form .input {
  border: 1px solid hsl(240deg, 9%, 91%);
  border-radius: 1px;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1;
}
.search-menu .search-form .input .input-search {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.search-menu .search-form .input input {
  background: none;
  border: none;
  color: hsl(243deg, 10%, 66%);
  outline: none;
  letter-spacing: 0.5px;
}
.search-menu .search-form .input input::-moz-placeholder {
  font-size: 1rem;
  color: hsl(243deg, 10%, 66%);
  letter-spacing: 0.5px;
}
.search-menu .search-form .input input:-ms-input-placeholder {
  font-size: 1rem;
  color: hsl(243deg, 10%, 66%);
  letter-spacing: 0.5px;
}
.search-menu .search-form .input input::placeholder {
  font-size: 1rem;
  color: hsl(243deg, 10%, 66%);
  letter-spacing: 0.5px;
}
.search-menu .search-form .input .search-icon {
  color: hsl(243deg, 10%, 66%);
  font-size: 1.35rem;
}
.search-menu .search-form .input .cancel-search {
  width: 20px;
  height: 20px;
  color: hsl(243deg, 10%, 66%);
  border-radius: 50%;
  border: 1px solid hsl(243deg, 10%, 66%);
  padding: 0.1rem;
}
.search-menu .search-form .search-btn {
  color: hsl(240deg, 9%, 91%);
  font-weight: 500;
  letter-spacing: 1px;
  background-color: hsl(236deg, 80%, 57%);
  border: none;
  border-radius: 1px;
  width: 90px;
  padding: 0.5rem;
}
.search-menu .locations-options-searched {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.search-menu .locations-options-searched .location-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid hsl(243deg, 10%, 66%);
  border-radius: 1px;
}
.search-menu .locations-options-searched .location-option .-info {
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsl(240deg, 9%, 91%);
  font-weight: 500;
  letter-spacing: 0.5px;
}
.search-menu .locations-options-searched .location-option .-info .-name :last-child {
  color: hsl(243deg, 10%, 66%);
}
.search-menu .locations-options-searched .location-option .-btns-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.5rem;
}
.search-menu .locations-options-searched .location-option .-btns-container .location-btn {
  border: none;
  background: none;
}
.search-menu .locations-options-searched .location-option .-btns-container #location-select-btn {
  font-size: 1rem;
  color: hsl(243deg, 10%, 66%);
  display: flex;
  align-items: center;
}
.search-menu .locations-options-searched .location-option .-btns-container #location-delete-btn {
  padding: 0.05rem;
  font-size: 1rem;
  border: 1px solid hsl(243deg, 10%, 66%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  font-weight: 600;
  color: hsl(243deg, 10%, 66%);
}
.search-menu .locations-options-searching {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.search-menu .locations-options-searching .searching-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid hsl(243deg, 10%, 66%);
  border-radius: 1px;
  letter-spacing: 0.5px;
  font-weight: 500;
}
.search-menu .locations-options-searching .searching-option .-info h3 {
  color: hsl(240deg, 9%, 91%);
}
.search-menu .locations-options-searching .searching-option .-info p {
  color: hsl(243deg, 10%, 66%);
}

@media screen and (min-width: 650px) and (max-width: 1000px) {
  .search-menu {
    padding: 2.5rem;
    max-width: 660px;
  }
}
@media screen and (min-width: 1000px) {
  .search-menu {
    width: 375px;
  }
}
.buttons-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: fixed;
  z-index: 9999;
  bottom: 1rem;
  right: 0;
  margin-right: 1.5rem;
}
.buttons-section .temperatures-container, .buttons-section .theme-btn-container {
  -webkit-animation: config-close-animation 0.25s ease-out both;
          animation: config-close-animation 0.25s ease-out both;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.buttons-section .temperatures-container .temperature, .buttons-section .theme-btn-container .temperature {
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  border-radius: 50%;
  padding: 0.25rem;
  color: hsl(240deg, 9%, 91%);
  font-size: 1.5rem;
  font-weight: 600;
  background-color: hsl(244deg, 16%, 40%);
}
@media (min-width: 650px) and (max-width: 1000px) {
  .buttons-section .temperatures-container .temperature, .buttons-section .theme-btn-container .temperature {
    font-size: 2rem;
    width: 60px;
    height: 60px;
  }
}
.buttons-section .temperatures-container .temperature.selected, .buttons-section .theme-btn-container .temperature.selected {
  transition: 0.5s;
  background-color: hsl(240deg, 9%, 91%);
  color: hsl(234deg, 32%, 17%);
}
.buttons-section .theme-btn-container {
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  border-radius: 50%;
  padding: 0.25rem;
  color: hsl(240deg, 9%, 91%);
  font-size: 1.5rem;
  font-weight: 600;
  background-color: hsl(244deg, 16%, 40%);
  transition: 0.5s;
  background-color: hsl(240deg, 9%, 91%);
  color: hsl(234deg, 32%, 17%);
}
@media (min-width: 650px) and (max-width: 1000px) {
  .buttons-section .theme-btn-container {
    font-size: 2rem;
    width: 60px;
    height: 60px;
  }
}
.buttons-section .configurations-icon {
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  border-radius: 50%;
  padding: 0.25rem;
  color: hsl(240deg, 9%, 91%);
  font-size: 1.5rem;
  font-weight: 600;
  background-color: hsl(244deg, 16%, 40%);
  padding: 0.6rem;
  transition: 0.5s;
}
@media (min-width: 650px) and (max-width: 1000px) {
  .buttons-section .configurations-icon {
    font-size: 2rem;
    width: 60px;
    height: 60px;
  }
}
.buttons-section .configurations-close-icon {
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  border-radius: 50%;
  padding: 0.25rem;
  color: hsl(240deg, 9%, 91%);
  font-size: 1.5rem;
  font-weight: 600;
  background-color: hsl(244deg, 16%, 40%);
  padding: 0.6rem;
}
@media (min-width: 650px) and (max-width: 1000px) {
  .buttons-section .configurations-close-icon {
    font-size: 2rem;
    width: 60px;
    height: 60px;
  }
}
.buttons-section.configurations-open .temperatures-container, .buttons-section.configurations-open .theme-btn-container {
  -webkit-animation: config-open-animation 0.25s ease-out both;
          animation: config-open-animation 0.25s ease-out both;
}

@media screen and (min-width: 650px) and (max-width: 1000px) {
  .buttons-section {
    bottom: 2.5rem;
  }
  .buttons-section .configurations-icon {
    padding: 0.9rem;
  }
}
.weather-section {
  background-color: hsl(248deg, 35%, 8%);
  padding: 1.5rem;
}
.weather-section.open-menu {
  display: none;
}
.weather-section .all-weathers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100vh;
  padding-bottom: 1.5rem;
}
.weather-section .weather-mode-btns-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.weather-section .weather-mode-btns-container .weather-mode-btn {
  flex: 1 1 43%;
  padding: 0.25rem 1rem;
  height: auto;
  background: none;
  border: none;
  border-radius: 1px;
  font-size: 1.025rem;
  color: hsl(240deg, 9%, 91%);
  transition: 0.5s;
  font-weight: 600;
  letter-spacing: 1px;
}
.weather-section .weather-mode-btns-container .weather-mode-btn.selected {
  background-color: hsl(230deg, 5%, 45%);
  transition: 0.5s;
}
.weather-section .weather-list-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.weather-section .weather-list-container .day-weather {
  font-size: 1rem;
  flex: 1 1 43%;
  max-width: 46.25%;
  background-color: hsl(234deg, 32%, 17%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}
.weather-section .weather-list-container .day-weather .dates {
  font-size: 1.2em;
  display: flex;
  color: hsl(240deg, 9%, 91%);
}
.weather-section .weather-list-container .day-weather .day-image img {
  width: 60px;
}
.weather-section .weather-list-container .day-weather .day-temperatures {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  font-size: 1.2em;
}
.weather-section .weather-list-container .day-weather .day-temperatures :first-child {
  color: hsl(243deg, 10%, 66%);
}
.weather-section .weather-list-container .day-weather .day-temperatures :last-child {
  color: hsl(240deg, 9%, 91%);
  font-weight: 500;
}
.weather-section .hourly-weather-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.weather-section .hourly-weather-container .hourly-btns-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.weather-section .hourly-weather-container .hourly-btns-container .hourly-btn {
  background: none;
  border: none;
  color: hsl(243deg, 10%, 66%);
  background-color: hsl(234deg, 32%, 17%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.weather-section .hourly-weather-container .hourly-array {
  display: none;
}
.weather-section .hourly-weather-container .hourly-array._selected {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}
.weather-section .hourly-weather-container .hourly-array._selected .single-hour-weather-container {
  flex: 1 1 43%;
  max-width: 47.5%;
  background-color: hsl(234deg, 32%, 17%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  color: hsl(240deg, 9%, 91%);
  font-size: 1.125em;
}
.weather-section .hourly-weather-container .hourly-array._selected .single-hour-weather-container .hour-weather-img {
  width: 60px;
  height: 60px;
}

@media screen and (min-height: 750px) {
  .day-weather,
.single-hour-weather-container {
    font-size: 1.2em;
    height: 25vh;
  }
}
@media screen and (max-width: 374px) {
  .all-weathers .weather-list-container .day-weather {
    width: 35vw;
  }
  .all-weathers .weather-list-container .day-weather .dates,
.all-weathers .weather-list-container .day-weather .day-temperatures {
    font-size: 1em;
  }
  .all-weathers .hourly-weather-container .hourly-array._selected .single-hour-weather-container {
    width: 35vw;
  }
}
@media screen and (min-width: 650px) and (max-width: 1000px) {
  .weather-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
  }
  .weather-section .weather-mode-btns-container {
    font-size: 1.3rem;
  }
  .weather-section .weather-mode-btns-container .weather-mode-btn {
    font-size: 1.3em;
    padding: 1rem;
  }
  .weather-section .weather-list-container .day-weather {
    font-size: 1.2rem;
    height: 25vh;
    gap: 1.5rem;
    max-width: 48%;
  }
  .weather-section .weather-list-container .day-weather .dates,
.weather-section .weather-list-container .day-weather .day-image,
.weather-section .weather-list-container .day-weather .day-temperatures {
    font-size: 1.5em;
  }
  .weather-section .hourly-weather-container .hourly-array._selected {
    gap: 1.5rem;
  }
  .weather-section .hourly-weather-container .hourly-array._selected .single-hour-weather-container {
    width: 250px;
    font-size: 2em;
  }
  .weather-section .hourly-weather-container .hourly-btns-container {
    gap: 443px;
  }
  .weather-section .hourly-weather-container .hourly-btns-container .hourly-btn {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 900px) and (max-width: 1000px) {
  .weather-section {
    padding: 2rem 10rem;
  }
  .weather-section .all-weathers {
    min-height: auto;
    gap: 2rem !important;
  }
  .weather-section .all-weathers .hourly-weather-container {
    gap: 2rem;
  }
  .weather-section .all-weathers .hourly-weather-container .hourly-btns-container .hourly-btn {
    padding: 0;
    font-size: 1.5em;
    width: 65px;
    height: 65px;
  }
}
@media screen and (min-width: 1000px) {
  .weather-section {
    min-height: 100vh;
    margin-left: 375px;
    padding: 2rem 2.5rem;
    position: relative;
  }
  .weather-section.open-menu {
    display: flex;
    flex-direction: column;
  }
  .weather-section .all-weathers {
    min-height: auto;
    padding-bottom: 2rem;
  }
  .weather-section .all-weathers .weather-list-container .day-weather {
    max-height: 160px;
  }
  .weather-section .all-weathers .weather-list-container .day-weather .dates {
    font-size: 0.9em;
  }
  .weather-section .all-weathers .weather-list-container .day-weather .day-image img {
    width: 50px;
  }
  .weather-section .all-weathers .weather-list-container .day-weather .day-temperatures {
    font-size: 0.95em;
  }
  .weather-section .all-weathers .hourly-weather-container .hourly-array._selected .single-hour-weather-container {
    max-height: 160px;
    font-size: 1rem;
  }
  .weather-section .all-weathers .hourly-weather-container .hourly-array._selected .single-hour-weather-container .hour-weather-img {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1150px) {
  .weather-section {
    padding: 2rem 7.5rem;
  }
  .weather-section .all-weathers .weather-list-container {
    flex-wrap: nowrap;
  }
  .weather-section .all-weathers .weather-list-container .day-weather {
    flex: 1 1;
    min-height: 20vh;
    padding: 1rem 0;
  }
  .weather-section .all-weathers .hourly-weather-container .hourly-btns-container {
    justify-content: space-between;
  }
  .weather-section .all-weathers .hourly-weather-container .hourly-array._selected {
    width: 100%;
  }
  .weather-section .all-weathers .hourly-weather-container .hourly-array._selected .single-hour-weather-container {
    flex: 1 1;
  }
}
@media screen and (min-height: 950px) {
  .weather-list-container .day-weather {
    height: 20vh;
  }
}
@media screen and (min-width: 1300px) {
  .weather-section {
    padding: 1.5rem 7.5rem;
  }
}
@media screen and (min-width: 1400px) {
  .weather-section {
    padding: 2rem 10.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1700px) {
  .weather-section {
    padding: 2rem 13rem;
  }
}
.sidebar .today-weather-menu .loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 300px;
  font-size: 1.5rem;
  color: hsl(243deg, 10%, 66%);
}
.sidebar .today-weather-menu .loading::after {
  -webkit-animation: 0.75s ease-out infinite spinner both;
          animation: 0.75s ease-out infinite spinner both;
  border: solid 5px rgba(255, 255, 255, 0);
  border-bottom-color: hsl(243deg, 10%, 66%);
  border-radius: 50%;
  content: "";
  height: 40px;
  width: 40px;
}

.hourly-weather-loading, .daily-weather-loading {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  font-size: 2.5rem;
  color: hsl(243deg, 10%, 66%);
}
.hourly-weather-loading::after, .daily-weather-loading::after {
  -webkit-animation: 0.75s ease-out infinite spinner both;
          animation: 0.75s ease-out infinite spinner both;
  border: solid 5px rgba(255, 255, 255, 0);
  border-bottom-color: hsl(243deg, 10%, 66%);
  border-radius: 50%;
  content: "";
  height: 40px;
  width: 40px;
}

.locations-options-loading {
  gap: 2rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: hsl(243deg, 10%, 66%);
  padding-top: 2rem;
}
.locations-options-loading::after {
  content: "";
  width: 100%;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0);
  border-bottom-color: hsl(243deg, 10%, 66%);
  -webkit-animation: spinner 0.75s infinite ease-out both;
          animation: spinner 0.75s infinite ease-out both;
}

.today-details-loading {
  border: 5px solid rgba(0, 0, 0, 0);
  border-bottom-color: hsl(243deg, 10%, 66%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  content: "";
  -webkit-animation: spinner 0.5s infinite ease-out both;
          animation: spinner 0.5s infinite ease-out both;
}

.loading-today-weather {
  width: 60px;
  height: 60px;
  border: 5px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  border-bottom-color: hsl(243deg, 10%, 66%);
  -webkit-animation: spinner 0.75s infinite both;
          animation: spinner 0.75s infinite both;
  margin-top: -13rem;
}

.today-details {
  min-height: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 1rem;
}
.today-details h2 {
  font-size: 1.5rem;
  color: hsl(240deg, 9%, 91%);
}
.today-details .details-titles {
  font-size: 1rem;
  font-weight: 400;
  color: hsl(240deg, 9%, 91%);
}
.today-details .current-detail {
  font-size: 3.5rem;
  margin-right: 0.5rem;
}
.today-details .current-wind {
  display: flex;
  flex-direction: column;
  background-color: hsl(234deg, 32%, 17%);
  padding: 1rem;
  align-items: center;
  gap: 1rem;
  color: hsl(240deg, 9%, 91%);
}
@media screen and (min-width: 1000px) {
  .today-details .current-wind {
    padding: 1.5rem;
    flex: 1 1 43%;
  }
}
.today-details .current-wind p {
  font-size: 1.75rem;
  font-weight: 600;
}
.today-details .current-wind .wind-direction {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.today-details .current-wind .wind-direction p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
}
.today-details .current-wind .wind-direction svg {
  rotate: -46deg;
  background-color: hsl(230deg, 5%, 45%);
  border-radius: 50%;
  padding: 0.3rem;
  width: 25px;
  height: 25px;
}
.today-details .current-humidity {
  display: flex;
  flex-direction: column;
  background-color: hsl(234deg, 32%, 17%);
  padding: 1rem;
  align-items: center;
  gap: 1rem;
  color: hsl(240deg, 9%, 91%);
}
@media screen and (min-width: 1000px) {
  .today-details .current-humidity {
    padding: 1.5rem;
    flex: 1 1 43%;
  }
}
.today-details .current-humidity p {
  font-size: 2rem;
  font-weight: 500;
}
.today-details .current-humidity .progress-bar-container {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  width: 80%;
}
.today-details .current-humidity .progress-bar-container .percentage-points {
  display: flex;
  justify-content: space-between;
}
.today-details .current-humidity .progress-bar-container .progress-bar {
  width: 100%;
  height: 10px;
  background-color: hsl(240deg, 9%, 91%);
  border-radius: 25px;
}
.today-details .current-humidity .progress-bar-container .progress-bar .bar {
  background-color: hsl(53deg, 100%, 70%);
  height: 100%;
  border-radius: 25px;
}
.today-details .current-humidity .progress-bar-container p {
  font-size: 1rem;
}
.today-details .current-humidity .progress-bar-container:last-child {
  text-align: end;
}
.today-details .current-visibility {
  display: flex;
  flex-direction: column;
  background-color: hsl(234deg, 32%, 17%);
  padding: 1rem;
  align-items: center;
  gap: 1rem;
  color: hsl(240deg, 9%, 91%);
}
@media screen and (min-width: 1000px) {
  .today-details .current-visibility {
    padding: 1.5rem;
    flex: 1 1 43%;
  }
}
.today-details .current-visibility p {
  font-size: 2rem;
  font-weight: 600;
}
.today-details .current-apparent-temperature {
  display: flex;
  flex-direction: column;
  background-color: hsl(234deg, 32%, 17%);
  padding: 1rem;
  align-items: center;
  gap: 1rem;
  color: hsl(240deg, 9%, 91%);
}
@media screen and (min-width: 1000px) {
  .today-details .current-apparent-temperature {
    padding: 1.5rem;
    flex: 1 1 43%;
  }
}
.today-details .current-apparent-temperature p {
  font-size: 2rem;
  font-weight: 600;
}

@media screen and (min-height: 850px) {
  .today-details {
    gap: 2rem;
  }
}
@media screen and (min-width: 650px) {
  .today-details {
    padding: 1.5rem 0;
    min-height: auto;
    gap: 3rem;
    width: 100%;
  }
  .today-details h2 {
    width: 100%;
  }
  .today-details .details-titles {
    font-size: 1.1rem;
  }
  .today-details .current-humidity .progress-bar-container p {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1000px) {
  .today-details {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }
}
@media screen and (min-width: 1150px) {
  .today-details {
    width: 100%;
  }
  .today-details .details-titles {
    font-size: 0.95rem;
  }
}
footer {
  font-size: 1.05rem;
  text-align: center;
  color: hsl(243deg, 10%, 66%);
}
footer a {
  text-decoration: none;
  color: hsl(240deg, 9%, 91%);
  font-weight: 600;
  letter-spacing: 0.5px;
}

@media screen and (min-height: 830px) and (min-width: 1200px) {
  footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 1rem;
    text-align: center;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.main-container {
  background-color: hsl(248deg, 35%, 8%);
}

.App.light-mode .sidebar {
  transition: 0.5s;
  background-color: #5A62AD;
}
.App.light-mode .sidebar .search-menu {
  background-color: #5A62AD;
  transition: 0.5s;
}
.App.light-mode .sidebar .search-menu .search-btn {
  background-color: rgb(92, 70, 121);
}
.App.light-mode .sidebar .search-menu .close-icon {
  color: white;
  transition: 0.5s;
}
.App.light-mode .sidebar .search-menu .input {
  border-color: white;
  transition: 0.5s;
}
.App.light-mode .sidebar .search-menu .location-option {
  border-color: white;
}
.App.light-mode .__information .current-temperature p {
  color: white;
}
.App.light-mode .__information h2 {
  color: hsl(240deg, 9%, 91%);
  font-weight: 700;
}
.App.light-mode .__information .-current-details {
  color: hsl(240deg, 9%, 91%);
}
.App.light-mode .weather-section {
  background-color: #BCC0E6;
  transition: 0.5s;
}
.App.light-mode .weather-section .day-weather {
  background-color: #5A62AD;
  transition: 0.5s;
}
.App.light-mode .weather-section .day-weather .dates {
  color: white;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: 0.5s;
}
.App.light-mode .weather-section .day-weather .day-temperatures :last-child {
  color: white;
  font-weight: 600;
  transition: 0.5s;
}
.App.light-mode .weather-section .day-weather .day-temperatures :first-child {
  color: hsl(240deg, 9%, 91%);
  transition: 0.5s;
}
.App.light-mode .weather-section .hourly-btns-container .hourly-btn {
  background-color: #5A62AD;
  transition: 0.5s;
  color: white;
}
.App.light-mode .weather-section .hourly-array._selected .single-hour-weather-container {
  background-color: #5A62AD;
  transition: 0.5s;
}
.App.light-mode .weather-section .current-wind, .App.light-mode .weather-section .current-humidity, .App.light-mode .weather-section .current-visibility, .App.light-mode .weather-section .current-apparent-temperature {
  background-color: #5A62AD;
  transition: 0.5s;
}
.App.light-mode .buttons-section .theme-btn-container {
  background-color: hsl(244deg, 16%, 40%);
  color: white;
}/*# sourceMappingURL=main.css.map */