
$Dark-weather-bg: hsl(248, 35%, 8%);
$Dark-sidebar-bg: hsl(234, 32%, 17%);
$Dark-text-color: hsl(240, 9%, 91%);
$Dark-second-text-color: 	hsl(243, 10%, 66%);
$Dark-bg-btn: hsl(230, 5%, 45%);
$Changer-btns: 	hsl(244, 16%, 40%);
$Dark-bar-color: 	hsl(53, 100%, 70%);