@use '../abstracts/abstracts' as *;

footer {
  font-size: 1.05rem;
  text-align: center;
  color: $Dark-second-text-color;
  
  a {
    text-decoration: none;
    color: $Dark-text-color;
    font-weight: 600;
    letter-spacing: .5px;
  }
}

@media screen and (min-height: 830px) and (min-width: 1200px){
  footer {
    position: absolute;
    width: calc(100%);
    left: 0;
    bottom: 1rem;
    text-align: center;
  }

}