@use '../abstracts/abstracts' as *;

.weather-section {
  padding: 1.5rem;

  .all-weathers {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 100vh;
  }

  .weather-mode-btns-container {
    display: flex;
    gap: 1.5rem;
    justify-content: center;

    .weather-mode-btn {
      @include weatherBtns();
    }
  }

  .weather-list-container{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;

    .day-weather {
      width: 150px;
      background-color: $Dark-sidebar-bg;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      gap: 1rem;

      .dates {
        font-size: 1.2rem;
        display: flex;
        color: $Dark-text-color;
      }

      .day-image img{
        width: 60px;
      }

      .day-temperatures {
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;
        font-size: 1.2rem;

        :first-child {
          color: $Dark-second-text-color;
        }

        :last-child {
          color: $Dark-text-color;
          font-weight: 500;
        }
      }
    }
  }

  .hourly-weather-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    .hourly-btns-container {
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 265px;

      .hourly-btn {
        background: none;
        border: none;
        color: $Dark-second-text-color;
        background-color: $Dark-sidebar-bg;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem;
      }
    }

    .hourly-array {
      display: none;

      &._selected {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;

        .single-hour-weather-container {
          width: 150px;
          background-color: $Dark-sidebar-bg;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 1rem;
          gap: 1rem;
          color: $Dark-text-color;
          font-size: 1.125rem;

          .hour-weather-img {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
  }
}

@media screen and (min-height: 750px) {
  .day-weather, .single-hour-weather-container {
    font-size: 1.2rem;
    height: 25vh;
  }  
}

@media screen and (max-width: 374px) {
  .all-weathers {
    .weather-list-container {
      .day-weather {
        width: 35vw;
        
        .dates, .day-temperatures {
          font-size: 1rem;
        }
      }
    }

    .hourly-weather-container {
      .hourly-btns-container {
        gap: 190px;
      }

      .hourly-array._selected {
        .single-hour-weather-container {
          width: 35vw;
        }
      }
    }
  }
}

@media screen and (min-width: 540px) {
  .weather-section {
    .weather-mode-btns-container {
      gap: 2rem;
      .weather-mode-btn {
        width: 180px;
      }
    }
  }
  .all-weathers {
    .weather-list-container {
      gap: 2rem;
      .day-weather {
        width: 180px;
      }
    }
    .hourly-weather-container {
      .hourly-btns-container {
        gap: calc(182px * 2 - 2rem);
      }

      .hourly-array._selected {
        gap: 2rem;
        .single-hour-weather-container {
          width: 180px;
        }
      }
    }
  }
}

@media screen and (min-width: 650px) {
  .weather-section {
    padding: $Tablet-padding;

    .weather-mode-btns-container {
      gap: 2rem;
      .weather-mode-btn {
        font-size: 1.3rem;
        padding: 1rem ;
        width: 245px;
      }
    }

    .weather-list-container {
      .day-weather {
        width: 250px;
        .dates, .day-image, .day-temperatures {
          font-size: 1.5rem;
        }
      }
    }

    .hourly-weather-container {
      .hourly-array._selected {
        gap: 1.5rem;

        .single-hour-weather-container {
          width: 250px;
          font-size: 1.5rem;
        }
      }
      .hourly-btns-container {
        gap: calc(443px);
        .hourly-btn {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}