@use '../abstracts/abstracts' as *;

.weather-section {
  background-color: $Dark-weather-bg;
  padding: $Mobile-padding;

  &.open-menu {
    display: none;
  }

  .all-weathers {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 100vh;
    padding-bottom: $Mobile-padding;
  }

  .weather-mode-btns-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;

    .weather-mode-btn {
      @include weatherBtns();
    }
  }

  .weather-list-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;

    .day-weather {
      flex: 1 1 43%;
      max-width: 48%;
      background-color: $Dark-sidebar-bg;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      gap: 1rem;

      .dates {
        font-size: 1.2rem;
        display: flex;
        color: $Dark-text-color;
      }

      .day-image img {
        width: 60px;
      }

      .day-temperatures {
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;
        font-size: 1.2rem;

        :first-child {
          color: $Dark-second-text-color;
        }

        :last-child {
          color: $Dark-text-color;
          font-weight: 500;
        }
      }
    }
  }

  .hourly-weather-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    .hourly-btns-container {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .hourly-btn {
        background: none;
        border: none;
        color: $Dark-second-text-color;
        background-color: $Dark-sidebar-bg;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
      }
    }

    .hourly-array {
      display: none;

      &._selected {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;

        .single-hour-weather-container {
          flex: 1 1 43%;
          max-width: 47.5%;
          background-color: $Dark-sidebar-bg;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 1rem;
          gap: 1rem;
          color: $Dark-text-color;
          font-size: 1.125rem;

          .hour-weather-img {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
  }
}

@media screen and (min-height: 750px) {
  .day-weather,
  .single-hour-weather-container {
    font-size: 1.2rem;
    height: 25vh;
  }
}

@media screen and (max-width: 374px) {
  .all-weathers {
    .weather-list-container {
      .day-weather {
        width: 35vw;

        .dates,
        .day-temperatures {
          font-size: 1rem;
        }
      }
    }

    .hourly-weather-container {
      .hourly-array._selected {
        .single-hour-weather-container {
          width: 35vw;
        }
      }
    }
  }
}


@media screen and (min-width: 650px) and (max-width: 1000px) {
  .weather-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: $Tablet-padding;

    .weather-mode-btns-container {
      .weather-mode-btn {
        font-size: 1.3rem;
        padding: 1rem;
      }
    }

    .weather-list-container {
      .day-weather {
        height: 25vh;
        gap: 1.5rem;
        .dates,
        .day-image,
        .day-temperatures {
          font-size: 1.5rem;
        }
      }
    }

    .hourly-weather-container {
      .hourly-array._selected {
        gap: 1.5rem;

        .single-hour-weather-container {
          width: 250px;
          font-size: 1.5rem;
        }
      }
      .hourly-btns-container {
        gap: calc(443px);
        .hourly-btn {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
  .weather-section {
    padding: 2rem 10rem;
    .all-weathers {
      min-height: auto;
      gap: 2rem !important;
  
      .hourly-weather-container {
        gap: 2rem;
        .hourly-btns-container {
          .hourly-btn {
            padding: 0;
            font-size: 1.5rem;
            width: 65px;
            height: 65px;
          }
        }
      }
    }
  }
  
}

@media screen and (min-width: 1000px) {
  .weather-section {
    min-height: 100vh;
    margin-left: 400px;
    padding: 2rem 2.5rem;
    position: relative;
    
    &.open-menu {
      display: flex;
      flex-direction: column;
    }

    .all-weathers {
      min-height: auto;
      padding-bottom: 2rem;

      .weather-list-container {
        .day-weather {
          max-height: 200px;
          .dates {
            font-size: .9rem;
          }
          .day-image img{
            width: 50px;
          }
          .day-temperatures {
            font-size: .95rem;
          }
        }
      }

      .hourly-weather-container {
        .hourly-array._selected {
          .single-hour-weather-container {

            max-height: 200px;
            font-size: 1rem;

            .hour-weather-img {
              width: 50px;
              height: 50px;
            }
          }
        }
      }

    }
  }
}

@media screen and (min-width: 1150px) {
  .weather-section {
    padding: 2rem 3rem;

    .all-weathers {
      .weather-list-container {
        flex-wrap: nowrap;
        .day-weather {
          flex: 1 1;
          min-height: 20vh;
          padding: 1rem 0;
        }
      }
  
      .hourly-weather-container {
        .hourly-btns-container {
          justify-content: space-between;
        }
        .hourly-array._selected {
          width: 100%;
          .single-hour-weather-container {
            flex: 1 1;
          }
        }
      }

    }
  }

  
}

@media screen and (min-height: 950px) {
  .weather-list-container {
    .day-weather {
      height: 20vh;
    }
  }
}

@media screen and (min-width: 1300px) {
  .weather-section {
    padding: 1.5rem 7.5rem;
  }
}

@media screen and (min-width: 1400px) {
  .weather-section {
    padding: 2rem 10.5rem;
    margin-left: 425px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
